$colorEasternBlue: #27aabe;
$colorShark: #1a1b1b;
$colorSalmon: #fc8c5e;
$colorWhite: #fff;
$colorLightGrey: #f2f2f2;
$colorSilverChalice: #aeaeae;
$colorNevada: #62676c;

@mixin li-menu-horizontal {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    vertical-align: center;
}

@mixin flex-row-around {
    display: flex;
    justify-content: space-around;
}

@mixin all-caps-title {
    text-transform: uppercase;
}

/*scss stolen from my dc comics project*/

@mixin body-rules {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @mixin show {
    display: block;
  }
  
  @mixin hide {
    display: none;
  }
  
  @mixin flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-row-around {
    display: flex;
    justify-content: space-around;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
  }
  
  @mixin li-menu-horizontal {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    vertical-align: center;
  }
  
  @mixin blue-button {
    font-weight: 600;
    background-color: $colorBlue;
    border: solid 0;
    margin: 20px 0 10px 0;
    padding: 10px 20px;
  }



@import '~bootstrap/scss/bootstrap';