$colorEasternBlue: #27aabe;
$colorShark: #1a1b1b;
$colorSalmon: #fc8c5e;
$colorWhite: #fff;
$colorLightGrey: #f2f2f2;
$colorSilverChalice: #aeaeae;
$colorNevada: #62676c;
$colorSanMarino: #4562b0;
$colorRoyalBlue: #6a5fe1;


@mixin li-menu-horizontal {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    vertical-align: center;
}

@mixin flex-row-around {
    display: flex;
    justify-content: space-around;
}

@mixin all-caps-title {
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 3px;
}

@mixin all-caps-footer {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
}

@mixin all-caps-button {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  border: none;
  color: $colorWhite;
  padding: 10px 30px;

}

@mixin brand-icons {
  color: #fff;
  border-radius: 50%;
}

/*scss stolen from my dc comics project*/

@mixin body-rules {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @mixin show {
    display: block;
  }
  
  @mixin hide {
    display: none;
  }
  
  @mixin flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-row-around {
    display: flex;
    justify-content: space-around;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
  }
  
  @mixin li-menu-horizontal {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    vertical-align: center;
  }
  
  @mixin blue-button {
    font-weight: 600;
    background-color: $colorBlue;
    border: solid 0;
    margin: 20px 0 10px 0;
    padding: 10px 20px;
  }


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&family=Outfit:wght@600&family=Source+Sans+Pro:wght@200;400;600;700&display=swap');
@import '~bootstrap/scss/bootstrap';